.admin-view-movie{
    border: 1px solid black;
    width: 32%;
    background-color: white;
    color:#31708E;
    margin-left: 1%;
    margin-top: 1%;

}



.delete-button1,
.edit-button1{
    margin-top: 1%;
    width: 170px;
   
    justify-content: center;
    
}
.delete-button1{
    float: right;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.7;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.edit-button1{
    float: left;
    background-color: #687864;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.7;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.delete-button1:hover,
.edit-button1:hover{
	opacity: 1;
}