.login-container{
    position: absolute;
    width: 33%;
    margin-left: 33%;
    margin-top: 4%;
}
.login-container h1{
    text-align: center;
    font-style: italic;
    color: #31708E;
    font-size: 36px;
}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 8px 0;
    margin: 9px 0;
    border-bottom: 1.5px solid black;
}
.textbox input {
    border: none;
    outline: none;
    background: none;
    float: left;
    width: 80%;
    margin: 0 10px;
    font-size: 15px;
}
.textbox input::placeholder {
    color: gray;
}
.btn{
    width: 100%;
    background: none;
    background-color: gray;
    border: none;
    color: white;
    padding: 8px;
    font-size: 22px;
    cursor: pointer;
    margin: 15px 0;
    border-radius: 5px;

}
.btn:hover{
    background-color: #687864;
    transition: 0.5s;
}

.btn-reg {
    font-size: 22;
    color: black;
}

.btn-reg a {
    color:  #687864;
    text-decoration: none;
}

.btn-reg a:hover {
    transition: 0.1s;
    color: black;
    text-decoration: underline;
}
.btn-reg p{
    text-align: center;
}