.register-container{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 4%;
}

.register-container h1{
    text-align: center;
    font-style: italic;
    color: #31708E;
    font-size: 36px;
}

.prefix p{
    font-size: 18px;

}

.reg-container-1{
    float: left;
    width: 42.5%;
    margin-left: 5%;
}

.reg-container-2{
    float: left;
    margin-left: 5%;
    width: 42.5%;
}


