.edit-profile-container {
    width: 150vh;
    margin-right: 5%;
    padding: 20px;
    margin-top: -37.5%;
    height:auto;
   
    float: right;
    background-color: rgb(247, 247, 247 );
}

.edit-field {
    display: flex;
    
}

.edit-field h1 {
    padding: 1%;
    width: 30%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 18px;

}

.edit-field-input {
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    padding: 1%;
    
}

.edit-profile-submit {
    background-color: #5085A5;
    border: none;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 3%;
}

.edit-profile-submit:hover {
    background-color: lightblue;
}

.edit-profile-header{
    color: #5085A5;
    margin-left: 10%;
    padding-bottom: 5%;
}