.wrapper{
    margin-top: 2%;
    width: 80%;
      height: auto;
    margin-left: 10%;
    margin-bottom: 0%;
    background-color: 8FC1E3;
    
   /* border: 1px solid #333333;*/
}


.movie-page-info-container {
   
    width: 100%;
    height: 420px;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background-color: rgb(247, 247, 247 );
    border: 3px solid #333333;
    
   
}

.movie-page-infos h4 {
    display: inline;
}

.movie-page-title {
    border-bottom: 1px solid black;
    margin-left: 6%;
    margin-right: 2%;
}

.movie-page-title h1 {
    margin-top: 1%;
    margin-left: 9%;
    color: #5085A5;
}

.movie-page-poster {
   
    margin-top: 1%;
    width: 300px;
    height: 350px;
    margin-left: 2%;
    padding-bottom: 1%;
    float: left;
    display: flex; 
}

.movie-page-poster1 {
    flex-shrink: 0;
    min-width: 90%;
    min-height: 100%
} 

.movie-page-infos {
    float: right;
    width: 30%;
    margin-top: 2%;
 
}
.movie-page-description {
    margin-top: 2%;
    /* border: 1px solid black; */
    float:left;
    width: 42%;
}

.movie-page-trailer{
    margin-top: 3%;
   /* border: 1px solid black;*/
}