.movie-card{
    width: 30%;
    margin: 1.66%;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}

.movie-card-poster{
    width: 100%;
    height: 300px;
    object-fit:fill;
    overflow: hidden;
  position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
}
.movie-card-info{
    padding: 5%;
}

.movie-card-info h2{
    color: #5085A5;
}
.movie-card:hover{
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px black;
    transition: 0.2s;
    transform: scale(1.1);
}
.movie-card-link{
    text-decoration: none;
    color: black;
}

.movie-card-link:hover{
    color: rgb(5, 85, 233);
}