nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1%;
    position:relative;
    background-color: #8FC1E3;
    /*background-color: #F7F9FB;*/
    width: 100%;
    top: 0%; 
}
nav li{
    list-style: none;
}

.logo {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    color :#F7F9FB;
}

.links{
    display: flex;
    justify-content:space-between;
    width: 40%;
}
.links a{
    color: #F7F9FB;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s;
}
.links a:hover{
    color: #31708E;
    transition: 0.2s;
    font-size: 22px;
}
.nav-other{
    display:flex;
    justify-content: space-around;
    width: 20%;
}
.nav-other a {
    text-decoration: none;
}
.log-button{
    border :1.5px solid #687864;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.log-button a{
    color: #687864;
    transition: 0.2s;
}

.log-button:hover{
    border: 3px solid #687864; 
    color: black;  
    transition: 0.1s;
    transition: 0.2s;
}

.profile-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.nav-profile-btn{
    color: #F7F9FB;
    font-weight: bold;
    transition: 0.2s;
    display: flex;
}
.nav-profile-btn:hover{
    color: #31708E;
    transition: 0.2s;
    font-size: 22px;
}