.profile-data-card {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    width: 20%;
    /* left: 20px; */
    padding: 40px;
    /* display: inline-block; */
    margin-top: 30px;
    margin-left: 40px;
    height: 80vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  
    background-color: lightgray;
  }
  
  .profile-picture-box{
    border-bottom: 1px solid gray;
  }
  
  .profile-picture-box img{
    width: 100%;
    height: 100%;
  }
  
  .profile-details{
    padding: 1%;
  }
  
  .profile-details h1{
    font-size: 20px;
    text-align: center; 
    color: #5085A5;
    padding: 3%;
  }
  
  .profile-detail{
    display: flex;
    /* color: darkblue; */
  }
  
  .profile-detail img{
    width: 10%;
    height: 10%;
  }
  
  .profile-detail p{
    width: 80%;
    padding-left: 2%;
    font-size: 2vh;
  }
  
  .profile-edit-button{
    margin-top: 90%;
    text-align: center;
    width: 100%;
    align-items: center;
  }
  
  .edit-button{
    text-decoration: none;
    color: darkblue;
    transition: 0.5s;
  }
  
  .edit-button:hover{
    color: orange;
    transition: 0.5s;
  }